table {
    text-align: left;
}
#navbar-wrapper {
    justify-content: center;
    margin:0 auto;  
    text-align: center; 
    background-color: powderblue;
    padding: 20px;

}

body {
    padding: 50px;
}

button {
    margin: 1px;
    background-color:  #70BFCC;
    border-style: solid;
    border-color: #38B6C9;
    padding: 10px;
    border-radius: 5px;
}

h1 {
    color: #357DED;
    font: Georgia, serif;
}
h2 {
    color: #B24C63;
    font: italic bold Georgia, serif;
}
h3 {
    color: #B24C63;
    font: italic bold Georgia, serif;
}