<div id="navbar-wrapper">
  <div></div>
  <h1>GMIT Video Host</h1>
  <h2>Video hosting and uploading services for GMIT Software Development students </h2>
  <h3>Sharing information from labs and lectures to help another out!</h3>
  <br>
    <div class="main-bar">
      <button [routerLink]="['/watch']">Watch Video</button>
      <button [routerLink]="['/upload']">Upload Video</button>
      <button [routerLink]="['/list']">List Videos</button>
    </div>
  <br>
</div>
<router-outlet></router-outlet>