body{
    padding: 50px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
    background-color: powderblue;
    border-radius: 10px; 
  
    li {
        padding: 10px;
        cursor: pointer;
  
        &.selected {
            background-color: #dddddd;
        }
  
        &:hover {
            background-color: #cce6ee;
        }
    }
 }

h1 {
    color: #357DED;
    font: Georgia, serif;
}
h3 {
    color: #BC2B4D;
    font: italic bold Georgia, serif;
}