#navbar-wrapper {
    justify-content: center;
    margin:0 auto;  
    text-align: center; 
}

button {
    margin: 1px;
    background-color:  rgba(0, 174, 255, 0.4);
    border-style: solid;
    border-color: rgb(0, 174, 255);
    padding: 10px;
    border-radius: 5px;
}