form {
    background-color: powderblue;
    font: 1em sans-serif;
    text-align: center;
}
h1 {
    color: blue;
    font: Georgia, serif;
}
h3 {
    color: red;
    font: italic bold Georgia, serif;
}
button {
    margin: 1px;
    background-color:  rgba(0, 174, 255, 0.4);
    border-style: solid;
    border-color: rgb(0, 174, 255);
    padding: 10px;
    border-radius: 5px;
}