<body>
  <h1>Videos List</h1>
  <table id="videos">
    <thead>
      <th>Name</th>
      <th>URL</th>
      <th>Type</th>
    </thead>
    <tbody>
      <tr *ngFor="let video of videos">
        <td>{{video.title}}</td>
        <td id="src">{{video.src}}</td>
        <td>{{video.type}}</td>
        <td><button (click)="delete(video.id)">Delete</button></td>
      </tr>
      <br>
      <tr>
          <button [routerLink]="['/upload']">Upload Videos</button>
      </tr>
    </tbody>
  </table>
</body>