body{
    justify-content: center;
    margin:0 auto;  
    text-align: center; 
}

button {
    margin: 1px;
    background-color:  #70BFCC;
    border-style: solid;
    border-color:  #38B6C9;
    padding: 10px;
    border-radius: 5px;
}

h1 {
    color: #357DED;
    font: Georgia, serif;
}

table{
    border: 1px solid #C4727D;
    padding: 15px;
    margin: 0px auto;
    border-radius: 5px;
    background-color: #b0e0e6;

    th{
        color: #BC2B4D;
        font: italic bold Georgia, serif;
    }

}

tr:hover {
    background-color:rgb(255, 241, 152);
}

td:hover {
    background-color: rgb(145, 199, 128);
}

td {
    padding: 10px;
}